assetic:
    bundles: ['OroriStockBundle', 'SymfonianIndonesiaAdminBundle', 'FOSUserBundle']
    node: /usr/bin/nodejs #change to your path
    filters:
        cssrewrite: ~
        uglifyjs2:
            bin: /usr/local/bin/uglifyjs #change to your path
        uglifycss:
            bin: /usr/local/bin/uglifycss #change to your path

framework:
    translator: { fallbacks: ["%locale%"] }

knp_paginator:
    page_range: 5
    default_options:
        page_name: page
        sort_field_name: sort
        sort_direction_name: direction
        distinct: true

knp_menu:
    twig:
        template: knp_menu.html.twig
    templating: false
    default_renderer: twig

symfonyid_core:
    micro_cache:
        cache_lifetime: 5

symfonyid_admin:
    app_title: 'SKELETON'
    app_short_title: 'SFID'
    per_page: 10
    identifier: 'id'
    date_time_format: 'd-m-Y' #php date time format
    menu: app_main_menu
    profile_fields: ['full_name', 'username', 'email', 'roles', 'enabled']
    filter: ['name']
    translation_domain: 'SymfonianIndonesiaAdminBundle'
    user:
        form_class: symfonian_id.admin.user_form
        entity_class: Orori\StockBundle\Entity\User
    themes:
        dashboard: 'SymfonianIndonesiaAdminBundle:Index:index.html.twig'
        form_theme: 'SymfonianIndonesiaAdminBundle:Form:fields.html.twig'
        pagination: 'SymfonianIndonesiaAdminBundle:Layout:pagination.html.twig'

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Orori\StockBundle\Entity\User